version: "3.8"

services:
  # ZStatus Application
  zstatus:
    build: .
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    depends_on:
      - mongo
    restart: unless-stopped

volumes:
  mongo-data:
